.navbar {
    background-color: #F4ECEA ;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    position: absolute;
  }

  
  .navbar-item {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
